#nav-override{
    a{
        text-decoration: none;
    }

    li a{
        color: $secondary-dark;
        &:hover{
            color: $primary;
            cursor: pointer;
        }
    }

    span a{
        color: black;
        &:hover{
            cursor:pointer;
        }
    }

    button a{
        color:white;
    }
}

.bg-offwhite{
    background-color: $offwhite;
}
