$primary: #006DAE;
$offwhite: #F6F6F6;
$secondary:  #505050;
$secondary-light: #D3D3D3;
$secondary-dark: #3c3c3c;
$success: #5CB85C;
$error: #c4001d;

$theme-colors: (
  "primary": #006DAE,
  "secondary":  #505050,
  "success": #5CB85C
);