@import './_variables';
@import './_navigation';
@import './_scheduleCard';
@import 'home.scss';
@import 'schedule.scss';
@import 'selection.scss';
@import 'bootstrap/scss/bootstrap.scss';
@import 'view.scss';


html body{
    font-family: -apple-system, system-ui, BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue", Arial, sans-serif;
    margin: 0;
    background-color: $secondary-light;
    font-size: 14px;
}

.circle-btn{
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.btn{
  border-radius: 5px;
  border: none;
  padding: 30px;
}
