@import './_variables';
@import './_navigation';
@import './_card';
@import 'home.scss';
@import 'schedule.scss';
@import 'selection.scss';
@import 'bootstrap/scss/bootstrap.scss';
@import 'view.scss';


html body{
    font-family: -apple-system, system-ui, BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue", Arial, sans-serif;
    margin: 0;
    background-color: $offwhite;
    font-size: 14px;
}

p{
  margin-bottom:10px;
}

*::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: $secondary-light;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: $primary;
}

.circle-btn{
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.circle-btn-sm{
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.clear-btn-override{
  background: none;
  border: none;
}

