#hero-btn{
    margin-top: 10vh!important; 
}

#home{
    span{
        color: $primary;
    }
}

.navbar-replace{
    background-color: $offwhite;
    height: 20vh;
}

.container-about{
    background-color: $secondary-light;

    h1{
        color: $secondary;
        text-decoration: underline;
    }
}

.container-howto{
    background-color: $secondary-dark;
    h1{
        color: white;
        text-decoration: underline;
    }
}

.container-contact{
    background-color: $primary;
    color: white;
    h1{
        text-decoration: underline;
    }
}

.about-custom{
    background-color: white;
}

.carousel-item{
    height: 32rem;
    background: $secondary;
    color:white;
}

#btn-override{
    button{
        background-color: white;
        color: black;
        transition: 0.4s;

        &:hover{
            transform: translate(0px,-2px);
        }

        svg{
            padding: 0px;
        }
    }
}

footer{
    background-color: $secondary-dark;
    color: white;
}