#home{
    span{
        color: $primary;
    }
}

#about{
    img{
        height: 30vh;
    }
}

#contact{
    background-color: $primary;
    color: $offwhite;
}

.spacing-20{
    //background-color: $offwhite;
    height: 20vh;
}

.title-deco{
    height: 2.5rem;
    width: .3rem;
    background-color: $primary;
}


.container-contact{
    background-color: $primary;
    color: white;
    h1{
        text-decoration: underline;
    }
}


#btn-override{
    button{
        background-color: white;
        color: black;
        transition: 0.4s;

        &:hover{
            transform: translate(0px,-2px);
        }

        svg{
            padding: 0px;
        }
    }
}

footer{
    background-color: $secondary-dark;
    color: white;
}