#container-selection-units{
    background-color: white;
    height: 75vh;
}
.container-units{
    height: 63vh;
}

#container-schedule{
    background-color: $secondary;
    height: 75vh;
}

#container-form{
    background-color: white;
    border-radius: 5px;
}

#floating-btn{
    .fab{
        transition: 0.4s;

        &:active{
            transform: rotate(45deg);
        }
    }
}

#container-tp{
    height: 50vh;
}