#container-selection-units{
    background-color: white;
    height: 75vh;
}
#container-units{
    height: 63vh;

    &::-webkit-scrollbar {
        width: 4px;
        background-color: black;
    }
    
    
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px $secondary-light;
      }
    
    &::-webkit-scrollbar-thumb {
        background-color: $primary;
    }
}

#container-schedule{
    background-color: $secondary;
    height: 75vh;

    &::-webkit-scrollbar {
        height: 4px;
        background-color: black;
    }
    
    
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px $secondary-light;
      }
    
    &::-webkit-scrollbar-thumb {
        background-color: $primary;
    }
}

#container-form{
    background-color: white;
    border-radius: 5px;
}

#floating-btn{
    .fab{
        transition: 0.4s;

        &:active{
            transform: rotate(45deg);
        }
    }
}