//Add new property for delete the preivous bullete
ul.no-bullets {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
    line-height:1;
  }


//schedule scroll
.scroll-page {
  height: 200px;
  overflow-y: scroll;
  background: #ffffff;
}

.force-overflow {
  min-height: 100px;
}

.scroll-page::-webkit-scrollbar-track {
  border-radius: 10px;
  padding: 2px 0;
  background-color: #A3BEC1;
}

.scroll-page::-webkit-scrollbar {
  width: 10px;

}

.scroll-page::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: $primary;
  border: 1px solid #A3BEC1;

}


//schedule's caret rotating
.rotate{
  transform:rotate(90deg);
}
.rotate-back{
  transform:rotate(0deg);
}
.arrow_icon{
  transform-origin: 50% 70%;
  transition:transform 0.3s ease;
}

//Styling caret
.caret{

  svg{
    fill:$primary;
    width:8px;
  }

  &:hover{
    color: $primary;
  }
}

//Checkbox label
 label:hover {
  cursor:pointer;
 }



 //grey background grid for start schedule page
 .grey-grid{
  display:inline;
  width:500px;
  height:100vh;  
}
 //Grey background grid after side bar shrinkage
 .grey-grid2{
   width:800px;
   height:80vh;
   display:inline;
 }

//add fixed size to unit display
 .unit-display{
   height:240px;
 }

 #container-filter{
  height: 50vh;

  &::-webkit-scrollbar {
      width: 4px;
      background-color: black;
  }
  
  
  &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px $secondary-light;
    }
  
  &::-webkit-scrollbar-thumb {
      background-color: $primary;
  }
}



